{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        {% block 'Bandeau' %}
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/xo.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              <header class="hd">
                <h2 class="title02">{% editable_short_text 'Titre', priority: 100 %}Une stratégie, vous simplifier le business{% endeditable_short_text %}</h2>

                <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 90 %}Un jeu d'enfant !{% endeditable_short_text %}</p>
              </header>
              <div class="bd">
                {% editable_long_text 'Texte bandeau', hint: 'Utiliser les balises p, ul/li, strong, a sans classe.', priority: 80 %}
                <p>
                  S’appuyant sur une expertise forte des métiers de la relation client, dans un contexte
                  où le Master Data Management et le Big Data sont de vrais challenges pour les
                  entreprises, Follow The Sun a réalisé une suite de services online complète, simple,
                  innovante, permettant de centraliser et d’exploiter toutes les données de la
                  connaissance client-consommateur.<br/>
                  Tout a été pensé pour que vous puissiez agir rapidement, librement, facilement et
                  bien sûr efficacement !
                </p>
                {% endeditable_long_text %}
              </div>
            </article>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <h2 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h2>

    <p class="subTitle02">{% editable_short_text 'Titre', priority: 10 %}Restez en connexion 24/7 avec tous vos clients{% endeditable_short_text %}</p>

    {% editable_long_text 'Description', priority: 9 %}
    <p>Le service en ligne CRM 360° est un tout nouveau service de Gestion de Données de la Relation Client (GRC ou
      GDRC).
      L’objectif de la plateforme logicielle CRM 360° est de mettre à votre disposition, en ligne et à la demande,
      les données de vos clients issues des multiples canaux disponibles, afin de les suivre et de gérer vos
      relations.
    </p>
    {% endeditable_long_text%}

    {% block 'CRM360 Steps' %}
    <section class="crm360Tools titleColList row-fluid col5">
      <section class="tool getDatas col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">1</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '1-Titre', priority: 10 %}Récolte des données{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '1-Description', priority: 9 %}
            <p>La gestion des flux d’import est automatisée, le schéma de données optimisé, quel que soit
              votre canal source.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool sortDatas col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">2</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '2-Titre', priority: 8 %}Correction et qualification des données{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '2-Description', priority: 7 %}
            <p>Redressez vos adresses, numéros de téléphones et la validation de vos e-mails grâce à nos
              nombreux
              référentiels d’adresses et d’algorithmes éprouvés.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool targetConsumer col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">3</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '3-Titre', priority: 6 %}Comptage et ciblage{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '3-Description', priority: 5 %}
            <p>Préparez vos campagnes et choisissez vos canaux de communication grâce à des actions simples,
              multi critère et intuitives.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool campaignManagement col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">4</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '4-Titre', priority: 4 %}Gestion des campagnes{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '4-Description', priority: 3 %}
            <p>Gérez vos campagnes en mode SaaS de façon simple, multicanal, multi enseigne, intuitive et
              automatisable.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool trackingConsumer col last">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">5</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '5-Titre', priority: 2 %}Suivi et analyse{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '5-Description', priority: 1 %}
            <p>Suivez vos clients et analyser vos résultats grâce à des tableaux, des taux de remplissage et
              des
              rapports préconstruits.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
    </section>
    {% endblock %}

  </div>
  <div id="bottomContent">
    <div class="center">
      <div class="row-fluid">
        {% block 'Tarif' %}
        <article class="span5 CRM360PushPrice">
          <div class="xtraPaddingL">
            <div class="box boxIntsetShadow boxPush row">
              <header class="hd">
                <div class="inner">
                  <h3 class="title03">L'accès à <img class="logoCRM360" src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

                  
                  <p class="color01">à partir de</p>

                  <div class="price color01">
                    {% editable_short_text 'prix', priority: 10 %}
                    <strong>35€</strong> / mois !
                    {% endeditable_short_text %}
                  </div>
                  
                </div>
              </header>
              <div class="bd">
                {% editable_long_text 'Description', priority: 9, hint: 'Utiliser <ul class="list01">' %}
                <ul class="list01">
                  <li>Paiement à la consommation</li>
                  <li>Solution adapté à tous les budgets</li>
                  <li>Sans engagement</li>
                </ul>
                {% endeditable_long_text %}
              </div>
              <footer class="ft more">
                <a class="btn btn01" href="/contact?title=Simuler un tarif&type=estimate"
                   title=""><span>Simuler un tarif</span></a>
              </footer>
            </div>
          </div>
        </article>
        {% endblock %}
        {% block 'Découvrir' %}
        <article class="span7 CRM360Push">
          <div class="xtraPaddingL">
            <div class="box boxIntsetShadow boxPush">
              <div class="row-fluid">
                <div class="span7">
                  <figure><img src="{{ 'images/crm360Ipad.png' | theme_image_url }}" alt=""/></figure>
                </div>
                <div class="span5">
                  <header class="hd">
                    <h3 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

                    <p class="subTitle03">{% editable_short_text 'Titre', priority: 10 %}Comment ça marche ?{% endeditable_short_text %}</p>
                  </header>
                  <div class="bd">
                    {% editable_long_text 'Description', priority: 9 %}
                    <p>
                    Vue unique des clients, correction et dédoublonnage automatique, Customer Data
                    Hub multicanal et<br/>
                    multi source, gestion<br/>
                    de campagnes, gestion multi enseigne…
                    </p>
                    {% endeditable_long_text %}
                  </div>
                  <footer class="ft more">
                    <a class="btn btn01" href="http://crm360.fts-services.com"
                       title=""><span>Découvrir <strong>CRM360°</strong></span></a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}