{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main" class="page-team">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/team.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            {% block 'Bandeau' %}
            <article class="text">
              <header class="hd">
                <h2 class="title02">{% editable_short_text 'Titre', priority: 100 %}Une équipe, des savoir-faire{% endeditable_short_text %}</h2>

                <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 90 %}100 ans d'expérience{% endeditable_short_text %}</p>
              </header>
              <div class="bd">
                {% editable_long_text 'Texte bandeau', hint: 'Utiliser les balises p, ul/li, strong, a sans classe.', priority: 80 %}
                <p>
                  L’entreprise Follow The Sun est composée de talents ayant vécu des expériences
                  différentes mais partageant une même passion : celle de la technologie, du marketing
                  et de la relation humaine.
                </p>
                <ul>
                  <li><strong>François-Xavier Ousselin</strong> : Président et co-fondateur, 20 ans
                    d’expérience
                  </li>
                  <li><strong>Olivier Piettre</strong> : Directeur Général et co-fondateur, 25 ans
                    d’expérience
                  </li>
                  <li><strong>Nicolas Destroye</strong> : Architecte en chef et co-fondateur, 9 ans
                    d’expérience
                  </li>
                  <li><strong>Olivier Guillouzouic</strong> : Ingénieur d’Affaires Partenaires, 11 ans
                    d’expérience
                  </li>
                  <li><strong>François Delattre</strong> : Responsable service management, 9 ans
                    d’expérience
                  </li>
                  <li><strong>Mais aussi Saro, Mathieu, Bruno et Frédéric</strong> : chefs de projets, 26 ans d’expérience à eux
                    tous.
                  </li>
                </ul>
                {% endeditable_long_text %}
              </div>

            </article>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}Vous les croiserez sûrement{% endeditable_short_text %}</h2>

    <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 9 %}Sur le devant de la scène.{% endeditable_short_text %}</p>
    <section class="teamProfil">
      <ul id="teamTabs" class="tabsBlock">
        {% for team_member in contents.team_members %}
          <li class="{% if forloop.first %}first{% elsif forloop.last %}last{% endif %}">
            <a href="#item{{forloop.index}}"><img src="{{ team_member.photo["url"] }}" alt="{{team_member.name}}"/></a>
            <span class="after"></span>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content box boxOutsetShadow">
        {% for team_member in contents.team_members %}
        <article class="tab-pane" id="item{{forloop.index}}">
          <header class="hd clearfix">
            <h4 class="title">{{team_member.name}}</h4>
            {% if team_member.linked_in_url %}
            <a class="linkedin" href="{{team_member.linked_in_url}}"><img src="{{ 'icons/linkedin.png' | theme_image_url }}" alt="linkedin"/></a>
            {% endif %}
          </header>
          <div class="bd">
            {{team_member.description}}
          </div>
          <div class="more ft">
            <a href="/contact?title=Message pour {{team_member.name}}" class="btn btn02"><span>Contacter {{team_member.shortname}}</span></a>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
  </div>
  <div id="bottomContent">
    {% block 'Block nous rejoindre' %}
    <div class="center">
      <div class="joinUs">
        <div class="hd">
          <h3 class="title02">{% editable_short_text 'Titre', priority: 10 %}Rejoignez-nous{% endeditable_short_text %}</h3>

          <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 9 %}Venez vivre une expérience exceptionnelle !{% endeditable_short_text %}</p>
        </div>
        <div class="bd">
          {% editable_long_text 'Description', priority: 8 %}
          <p>Follow the Sun est une aventure qui se partage. Vous avez des talents, de l’envie et des choses à
            partager, rejoignez l’équipe !</p>
          {% endeditable_long_text %}
        </div>
        <div class="ft more">
          <a href="/recrutement" class="btn btn02"><span>Consulter les offres</span></a>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}