{% extends 'layout' %}
{% block 'main' %}
  <div id="content" role="main">
    <div id="banner">
      <div class="inner">
        <div class="center bannerInside">
          <div class="bannerExtend bannerLeft"></div>
          <div class="bannerExtend bannerRight"></div>
          {% block 'Slider' %}
          <div id="bannerCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <div class="row-fluid bannerContent">

                  <article class="span5 bannerText">
                    <p class="intro">{% editable_short_text 'Volet 1 titre', priority: 11 %}Prenez les commandes de votre business{% endeditable_short_text %}</p>

                    <h2 class="title"><img src="{{ 'images/banner/fr/simplement.png' | theme_image_url }}"
                       alt="cloud"/></h2>

                      {% editable_long_text 'Volet n°1 texte', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 10 %}
                    <p class="desc">
                        Augmentez vos scores<br/>
                        avec des outils marketing<br/>
                        simples d’utilisation, efficaces<br/>
                        et surtout, performants.
                    </p>
                      {% endeditable_long_text %}
                  </article>
                  <div class="span7">
                    <img style="position: relative;left:-57px;top:-69px" src="{{ 'images/banner/increase-scores.png' | theme_image_url }}" alt="Increase Scores" />
                  </div>
                </div>
              </div>

              <div class="item">
                <div class="row-fluid bannerContent">

                  <article class="span5 bannerText">
                    <p class="intro">{% editable_short_text 'Volet 2 titre', priority: 9 %}Prenez les commandes de votre business{% endeditable_short_text %}</p>

                    <h2 class="title"><img src="{{ 'images/banner/en/24-7.png' | theme_image_url }}"
                       alt="24/7"/></h2>

                      {% editable_long_text 'Volet n°2', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 8 %}
                    <p class="desc">
                        Gardez le contact<br/>
                        avec tous vos clients<br/>
                        24h / 24 et 7j / 7.<br/>
                        Business non stop !
                    </p>
                      {% endeditable_long_text %}
                  </article>
                  <div class="span7">
                    <img style="position: relative;left:-115px" src="{{ 'images/banner/keep-contact.png' | theme_image_url }}"alt="Keep Contact" />
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row-fluid bannerContent">

                  <article class="span5 bannerText">
                    <p class="intro">{% editable_short_text 'Volet 3 titre', priority: 7 %}Prenez les commandes de votre business{% endeditable_short_text %}</p>

                    <h2 class="title"><img src="{{ 'images/banner/en/in-the-cloud.png' | theme_image_url }}" alt="In the Cloud" /> </h2>

                      {% editable_long_text 'Volet n°3', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 6 %}
                    <p class="desc">
                        Connectez-vous partout.<br/>
                        Des solutions en ligne<br/>
                        disponibles tout le temps,<br/>
                        où que vous soyez.
                    </p>
                      {% endeditable_long_text %}
                  </article>
                  <div class="span7">
                    <img style="left: -76px;position: relative;" src="{{ 'images/banner/cloud.png' | theme_image_url }}"
                       alt="cloud"/>
                  </div>
                </div>
              </div>

            </div>
            <!-- Carousel nav -->
            <ul class="paginationBullet">
              <li><a data-to="1" href="#">1</a></li>
              <li><a data-to="2" href="#">2</a></li>
              <li><a data-to="3" href="#">3</a></li>
            </ul>
            <!--<a class="carousel-control left" href="#bannerCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#bannerCarousel" data-slide="next">&rsaquo;</a>-->
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
    <div id="mainContent" class="center">
      <div class="row-fluid">
        {% block 'block_societe' %}
        <article class="span5 aboutFollowSun">
          <div class="box boxOutsetShadow">
            <div class="hd">
              <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}follow the sun{% endeditable_short_text %}</h2>
              <p class="subTitle01">{% editable_short_text 'Sous-titre', priority: 9 %}play live business{% endeditable_short_text %}</p>
            </div>
            <div class="bd">
              <figure>
                <img src="{% editable_file 'photo', hint: 'Photo au format 325x236', priority: 8 %}{{ 'images/team-follow-the-sun.jpg' | theme_image_url }}{% endeditable_file %}" alt="" />
                <figcaption>{% editable_short_text 'Texte sous la photo', hint: 'Texte sous la photo', priority: 8 %}Créé en 2011 à Lille-Métropole, Follow The Sun
                  est un éditeur qui transforme des savoir-faire métier
                  en offres de services en ligne simples, fiables, sécurisées et interconnectables.{% endeditable_short_text %}
                </figcaption>
              </figure>
            </div>
            <div class="ft">
              <div class="more">
                <a class="btn btn03" href="/equipe" title=""><span>Voir l'équipe</span></a>
              </div>
            </div>
          </div>
        </article>
        {% endblock %}
        <section class="ourCustomers span7">
          <div class="xtraPaddingL">
            <article>
              <header>
                <h2 class="title02">{% editable_short_text 'Titre du block liste logos' %}Ils se sont pris au jeu{% endeditable_short_text %}</h2>
              </header>
              <ul class="customersList row-fluid">
                {% for customer in contents.customers limit:3 %}
                <li class="span4"><img src="{{customer.logo['url']}}" alt="{{customer.name}}" /></li>
                {% endfor %}
              </ul>
              <div class="more">
                <a class="btn btn02" href="/clients" title=""><span>Voir tous nos clients</span></a>
              </div>
            </article>
            <article class="customerExperience">
              <header>
                <h3 class="title02">{% editable_short_text 'Titre du block témoignage client' %}... et sont ravis de l'expérience{% endeditable_short_text %}</h3>
              </header>
              {% with_scope category: 'customer' %}
              {% for testimony in contents.testimonials limit:1 %}
              <div class="bd">
                <blockquote>
                  « {{testimony.description}} »
                </blockquote>
                <p>
                  <strong>{{ testimony.author }}</strong><br/>
                  <span class="job">{{ testimony.company }}</span>
                </p>
              </div>
              {% endfor %}
              {% endwith_scope%}
            </article>
            <div class="more">
              <a class="btn btn02" href="/clients" title=""><span>Lire les témoignages</span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div id="bottomContent">
      <div class="center">
        <div class="row-fluid">
          <div class="span7">
            {% block 'Bloc Réseau' %}
            <article>
              <header>
                <h3 class="title02">{% editable_short_text 'Titre', priority: 10 %}Réseau{% endeditable_short_text %}</h3>

                <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 9 %}Des partenaires de talent{% endeditable_short_text %}</p>
              </header>
              <div class="bd txtC">
                {% editable_long_text 'Texte', hint: 'Respecter la syntaxe html', priority: 8 %}
                <div class="crm360">
                  <a class="item1 color01 txtR" href="/equipe">Techniques</a>
                  <a class="item2 txtC" href="/clients">Clients</a>
                  <a class="txtC item3 color01" href="/equipe">Commerciaux</a>
                  <a class="txtC item4" href="/clients">Clients</a>
                  <a class="txtL item5 color01" href="/equipe">Intégrateurs</a>
                </div>
                <p class="txtL">
                  Afin d’enrichir votre expérience et de vous proposer une offre CRM complète<br/>
                  et adaptée à vos besoins, Follow The Sun s’entoure d’un écosystème de partenaires<br/>
                  diversifiés.
                </p>
                {% endeditable_long_text %}
              </div>
              <div class="more">
                <a class="btn btn03" href="/contact?title=Devenir partenaire" title=""><span>Devenir partenaire</span></a>
              </div>
            </article>
            {% endblock %}
          </div>
          <article class="span5">
            {% block 'Block crm360' %}
            <div class="xtraPaddingL">
              <div class="box boxIntsetShadow boxPush">
                <header class="hd">
                  <h3 class="title02"><img src="{% editable_file 'Logo du produit', priority: 11 %}{{ 'images/crm360.png' | theme_image_url }}{% endeditable_file %}" alt="CRM360°" /></h3>

                  <p class="subTitle02">{% editable_short_text 'Titre', priority: 10 %}Une solution GRC simple et efficace{% endeditable_short_text %}</p>
                </header>
                <div class="bd">
                  <figure>
                    <img src="{{ 'images/crm360Ipad.png' | theme_image_url }}" alt="Interface de CRM360" />
                    <figcaption>
                      {% editable_short_text 'Texte', priority: 8 %}
                      CRM360° est une nouvelle offre commerciale
                      de Gestion de Données de la Relation Client (GDRC)
                      en mode SaaS couvrant les fonctions suivantes : Intégration de flux, Data
                      Quality Management,
                      Campaign Management, Business Intelligence.
                      {% endeditable_short_text %}
                    </figcaption>
                  </figure>
                </div>
                <footer class="ft more">
                  <a class="btn btn02" href="/crm360" title=""><span>En savoir plus</span></a>
                </footer>
              </div>
            </div>
            {% endblock %}
          </article>
        </div>
      </div>
    </div>
  </div>
{% endblock %}