<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
 More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  

  <title>{{ page.seo_title }} | {{ site.name }}</title>
  {% seo_metadata %}
  <title>Follow the sun</title>
  
  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  {{ 'application.css' | stylesheet_tag }}
  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans&subset=latin,latin-ext' rel='stylesheet'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
Modernizr enables HTML5 elements & feature detects for optimal performance.
Create your own custom Modernizr build: www.modernizr.com/download/ -->
  {{ 'libs/modernizr-2.5.3.min.js' | javascript_tag }}
  {% inline_editor %}
</head>
<body>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a
  different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>
  to experience this site.</p><![endif]-->
<header id="header">
  <div class="topHead">
    <div class="center">
      <div class="clearfix">
        <span class="followTheSunDesc">{% editable_short_text 'Top header title', priority: 100 %}Follow the Sun - Solution business et CRM en mode SAAS{% endeditable_short_text %}</span>
        <div class="dropdownMenu languages">
          <a class="current" href="#"><img src="{{ 'icons/flag/france.png' | theme_image_url }}" class="flag">Français</a>
          <ul class="dataList">
            <li><a href="http://www.google.fr" title="English"><img class="flag" src="{{ 'icons/flag/england.png' | theme_image_url }}">English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottomHead">
    <div class="center">
      <div class="row-fluid">
        <div class="span5">
          <h1><a class="logo" href="/">Follow the sun</a></h1>
        </div>
        <nav class="span7">
          <div class="xtraPaddingL">
            <ul id="navigation" class="clearfix">
              <li class="home {% if page.fullpath == 'societe' %}active{% endif %}"><a href="/societe"><span class="icon"></span><span
                  class="text">follow the sun</span></a></li>
              <li class="team {% if page.fullpath == 'equipe' %}active{% endif %}"><a href="/equipe"><span class="icon"></span><span class="text">Equipe</span></a></li>
              <li class="products {% if page.fullpath == 'crm360' %}active{% endif %}"><a href="/crm360"><span class="icon"></span><span
                  class="text">Produits</span></a></li>
              <li class="partners {% if page.fullpath == 'partenaires' %}active{% endif %}"><a href="/partenaires"><span class="icon"></span><span
                  class="text">Partenaires</span></a></li>
              <li class="customers {% if page.fullpath == 'clients' %}active{% endif %}"><a href="/clients"><span class="icon"></span><span
                  class="text">Clients</span></a></li>
              <li class="contact {% if page.fullpath == 'contact' %}active{% endif %}"><a href="/contact"><span class="icon"></span><span
                  class="text">Contact</span></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
{% block 'main' %}
{% endblock %}
<footer id="footer">
  <div class="inner">
    <div class="center">
      <div class="row-fluid">
        <div class="span4">
          <div class="hd">
            <span class="logo-small">follow the sun play live business</span>
          </div>
          <ul class="bd col-footer row-fluid">
            <li class="span6">
              <ul class="footer-items">
                <li><a href="/societe">La société</a></li>
                <li><a href="/equipe">L'équipe</a></li>
                <li><a href="/crm360">Les produits</a></li>
                <li><a href="/partenaires">Les partenaire</a></li>
                <li><a href="/clients">Les clients</a></li>
                <li class="last"><a href="/contact">Contact</a></li>
              </ul>
            </li>
            <li class="span6">
              <ul class="footer-items">
                <li><a href="/crm360">CRM360°</a></li>
                <li><a href="/recrutement">Recrutement</a></li>
                <li><a href="/societe">Nos bureaux</a></li>
                <li><a href="/mentionslegales">Mentions légales</a></li>
                <li><a href="/credits">Crédits</a></li>
                <li class="last"><a href="http://twitter.com/followthesun">Nous suivre sur <img class="twitter"
                                          src="{{ 'icons/twitter.png' | theme_image_url }}"
                                          alt="twitter"/></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span3">
          <div class="hd">
            <h4 class="title">Ils sont avec nous</h4>
          </div>

          <ul class="row-fluid bd">
            <li class="span12">
              <ul class="footer-items partnersList">
                <li><a href="http://www.gouvernement.fr"><img src="{{ 'images/partners/republiqueFrancaise.png' | theme_image_url }}" alt="République Française" /></a></li>
                <li><a href="http://www.nordpasdecalais.fr"><img src="{{ 'images/partners/nordpasdecalais.png' | theme_image_url }}" alt="Nord-Pas-De-Calais" /></a></li>
                <li class="lastItem"><a href="#"><img src="{{ 'images/partners/eto.png' | theme_image_url }}" alt="ETO" /></a></li>

                <li class="lastLine"><a href="http://www.runiso.com"><img src="{{ 'images/partners/runiso.png' | theme_image_url }}" alt="Runiso" /></a></li>
                <li class="lastItem lastLine"><a href="http://www.microsoft.com/fr-fr/"><img src="{{ 'images/partners/microsoft.png' | theme_image_url }}" alt="Microsoft" /></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="span5">
          <div class="xtraPaddingL">
            <div class="hd">
              <h4 class="title">Notre aire de jeux</h4>
            </div>
            <ul class="col-footer row-fluid bd">
              <li class="span6 contactInfo">
                <div class="footer-items">
                  {% editable_long_text 'Footer - coordonnées', hint: 'Adresse : <p class="address"> ; Téléphone : <p class="contact">' %}
                  <p class="address">
                    4, rue Nationale<br/>
                    59100 Roubaix
                  </p>
                  <p class="contact">
                    Tel +33 3 20 69 17 17<br/>
                    Fax +33 3 20 69 17 18<br/>
                  </p>
                  <span>contact@fts-services.com</span>
                  {% endeditable_long_text %}
                </div>
              </li>
              <li class="span6 contactMap">
                <img src="{{ 'images/map-small.png' | theme_image_url }}" alt="" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>

{{ 'libs/bootstrap.min.js' | javascript_tag }}

<!-- scripts concatenated and minified via build script -->
{{ 'plugins.js' | javascript_tag }}
{{ 'script.js' | javascript_tag }}
<!-- end scripts -->


<script>
  var _gaq = [
    ['_setAccount','UA-32450798-2'],
    ['_trackPageview']
  ];
  (function(d, t) {
    var g = d.createElement(t),s = d.getElementsByTagName(t)[0];
    g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s)
  }(document, 'script'));
</script>

</body>
</html>