{% extends 'index' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/fr/crm360.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              <header class="hd">
                <h2 class="title02">Des partenaires connectés<br/>
                  pour démultiplier l’expérience</h2>

                <p class="subTitle02">Un écosystème riche et varié</p>
              </header>
              <div class="bd">
                <p>
                  Ayant à cœur de vous satisfaire au mieux et de vous proposer une offre toujours plus
                  riche et adaptée à vos besoins, l’entreprise Follow The Sun s’entoure d’un
                  écosystème
                  de partenaires diversifiés, tous plus talentueux les uns que les autres.
                </p>

                <p>
                  Les offres et les compétences interconnectées des partenaires alliées à celles de
                  Follow The Sun vous offriront un panel de possibilités considérable. Ainsi, par
                  exemple, l’interconnexion entre CRM360° et ECM permet des échanges d’envois
                  d’e-mails et une analyse des comportements de vos clients.
                </p>
              </div>

            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      <section class="becomePartners span7">
        <div class="xtraPaddingL">
          <article>
            <header>
              <h2 class="title02">Nos partenaires</h2>

              <p class="subTitle02">Ils sont déjà de la partie</p>
            </header>
            <p>Follow The Sun s'entoure d'un écosystème de partenaires diversifiés</p>
            <ul class="customersList row-fluid">
              <li class="span3"><img src="{{ 'images/partners/hubToYou.png' | theme_image_url }}" alt="Hub to you"></li>
              <li class="span3"><img src="{{ 'images/partners/mix-data.png' | theme_image_url }}" alt="Mix Data"></li>
              <li class="span3"><img src="{{ 'images/partners/experian-cheetahmail.png' | theme_image_url }}" alt="Experian Cheetahmail"></li>
              <li class="span3"><img src="{{ 'images/partners/generix.png' | theme_image_url }}" alt="Generix"></li>
            </ul>
            <div class="more">&nbsp;</div>
          </article>
          <article class="otherPartners">
            <p class="subTitle02">Mais aussi...</p>

            <div class="bd">
              <ul class="row-fluid titleColList">
                <li class="span4">
                  <h4 class="title">Agence</h4>
                  <ul>
                    <li>Rouge Interactif</li>
                    <li>TDA</li>
                    <li>Lemonthink</li>
                    <li>MxData</li>
                  </ul>
                </li>
                <li class="span4">
                  <h4 class="title">Intégrateur</h4>
                  <ul>
                    <li>Touche Etoile</li>
                    <li>Mediaperformances</li>
                    <li>Experian Cheetahmail</li>
                    <li>Numsight</li>
                    <li>Devatics</li>
                    <li>Hub To You</li>
                  </ul>
                </li>
                <li class="span4">
                  <h4 class="title">Technologique</h4>
                  <ul>
                    <li>Windcor Nixdorf</li>
                    <li>Adictiz</li>
                    <li>Generix</li>
                    <li>Improveeze</li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      <div class="span5">
        <div class="xtraPaddingL">
          <article class="box boxIntsetShadow boxArrow">
            <header>
              <h3 class="title02">Ils en parlent mieux que nous</h3>
            </header>
            <div class="bd">
              <article class="blockArticle">
                <blockquote>« A l’heure où le contexte marketing est à la relation client, CRM360° nous permet de passer du marketing de masse au marketing ciblé interactif et collaboratif.<br />
CRM360°, la solution CRM B2C de Follow The Sun, est une solution ouverte que l’on peut facilement interfacer avec des services complémentaires de gestion de programmes de fidélité, d’offres commerciales, de géolocalisation… <br />
Elle nous permet par exemple d’accompagner nos clients dans la réalisation et l’animation de leur application mobile CRM. La solution CRM360° couplée à nos services Hub To You va au-delà de la simple gestion de campagne, elle gère aussi l’ensemble des sources de données clients en amont pour donner accès à une fiche client unique et dynamique très appréciée des commerçants. Cette fiche client peut-être alors exposée sur tout support digital tel qu'une tablette ou un smartphone pour un vendeur. Ayant accès à l’historique d’achat, de fidélité et de contact de leurs clients, les enseignes peuvent désormais apporter plus facilement à leur client de la reconnaissance tout en étant force de proposition directement sur le point de vente.<br />

Ne nécessitant pas de projet informatique, pas plus que de coûteuses licences, CRM360° est néanmoins adaptable à l’immense majorité des besoins clients. ».
                </blockquote>
                <p>
                  <strong>Mathieu Beseme</strong><br/>
                  <span class="job">Gérant Hub To You</span>
                </p>
              </article>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
  <div id="bottomContent">
    <div class="center">
      <section class="becomePartner">
        <header class="hd">
          <h3 class="title02">Devenez partenaire !</h3>

          <p class="subTitle02">Venez tentez l'expérience !</p>
        </header>
        <div class="bd">
          <p>Si, comme nous, vous êtes passionnés par le marketing et plus particulièrement par la relation
            client, si vous souhaitez accélérer votre business,
            si vous avez besoin de nous ou simplement si nous partageons les mêmes valeurs : contactez-nous
            !</p>
        </div>
        <div class="ft more">
          <a href="#" class="btn btn01"><span>Devenir partenaire</span></a>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}