{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        {% block 'Bandeau' %}
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/xo.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              <header class="hd">
                <h2 class="title02">{% editable_short_text 'Titre', priority: 100 %}One strategy: simplify your business{% endeditable_short_text %}</h2>

                <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 90 %}It’s as easy as pie{% endeditable_short_text %}</p>
              </header>
              <div class="bd">
                {% editable_long_text 'Texte bandeau', hint: 'Utiliser les balises p, ul/li, strong, a sans classe.', priority: 80 %}
                <p>
                  Based on a strong CRM marketing expertise, in a Master Data Management and Big Data
                  context, Follow The Sun created new online, reliable and secure services. You will
                  be able to centralize your customer data and to make the most of your hub.
                  Simple, quick and effective!
                </p>
                {% endeditable_long_text %}
              </div>
            </article>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <h2 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h2>

    <p class="subTitle02">{% editable_short_text 'Titre', priority: 10 %}Stay connected to all your consumers 24/7!{% endeditable_short_text %}</p>

    {% editable_long_text 'Description', priority: 9 %}
    <p>CRM360° is an exclusive CRM service offer.<br/>
      The objective of CRM360° is to put your consumer data, coming from many available channels, at your disposal
      in order to manage relationships.
    </p>
    {% endeditable_long_text %}

    {% block 'CRM360 Steps-en' %}
    <section class="crm360Tools titleColList row-fluid col5">
      <section class="tool getDatas col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">1</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '1-Titre', priority: 10 %}Collect your consumer data{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '1-Description', priority: 9 %}
            <p>The imported data flows management is automated and the data scheme is optimized, whatever
              the channel source is.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool sortDatas col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">2</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '2-Titre', priority: 8 %}Clean, correct and qualify data{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '2-Description', priority: 7 %}
            <p>Correct your addresses, phone numbers and e-mails thanks to our various worldwide contacts
              expertise.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool targetConsumer col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">3</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '3-Titre', priority: 6 %}Count and target your consumers{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '3-Description', priority: 5 %}
            <p>Plan your campaigns and choose your communication channels with multi criteria and easy
              actions.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool campaignManagement col">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">4</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '4-Titre', priority: 4 %}Manage your campaigns{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '4-Description', priority: 3 %}
            <p>Manage your multi-channel and multi-source campaigns easily in SaaS mode.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
      <section class="tool trackingConsumer col last">
        <div class="inner">
          <header>
            <div class="icon">
              <span class="nb">5</span>
            </div>
            <h3 class="colTitle01">{% editable_short_text '5-Titre', priority: 2 %}Check your ROI{% endeditable_short_text %}</h3>
          </header>
          <div class="bd">
            {% editable_long_text '5-Description', priority: 1 %}
            <p>Follow your consumers and analyze your ROI thanks to our dashboards.</p>
            {% endeditable_long_text %}
          </div>
        </div>
      </section>
    </section>
    {% endblock %}

  </div>
  <div id="bottomContent">
    <div class="center">
      <div class="row-fluid">
        {% block 'Tarif' %}
        <article class="span5 CRM360PushPrice">
          <div class="xtraPaddingL">
            <div class="box boxIntsetShadow boxPush row">
              <header class="hd">
                <div class="inner">
                  <h3 class="title03">Access to <img class="logoCRM360"
                                     src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/>
                  </h3>

                  <p class="color01">from</p>

                  <div class="price color01">
                    {% editable_short_text 'prix', priority: 10 %}
                    <strong>35€</strong> a month
                    {% endeditable_short_text %}
                  </div>
                </div>
              </header>
              <div class="bd">
                {% editable_long_text 'Description', priority: 9, hint: 'Utiliser <ul class="list01">' %}
                <ul class="list01">
                  <li>Payment on demand</li>
                  <li>A solution for every budget</li>
                  <li>No enlistment required</li>
                </ul>
                {% endeditable_long_text %}
              </div>
              <footer class="ft more">
                <a class="btn btn01" href="/en/contact?title=Simulate a price list&type=estimate"
                   title=""><span>Simulate a price list</span></a>
              </footer>

            </div>
          </div>
        </article>
        {% endblock %}
        {% block 'Découvrir' %}
        <article class="span7 CRM360Push">
          <div class="xtraPaddingL">
            <div class="box boxIntsetShadow boxPush">
              <div class="row-fluid">
                <div class="span7">
                  <figure><img src="{{ 'images/crm360Ipad.png' | theme_image_url }}" alt=""/></figure>
                </div>
                <div class="span5">
                  <header class="hd">
                    <h3 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

                    <p class="subTitle03">{% editable_short_text 'Titre', priority: 10 %}CRM360° how does it work?{% endeditable_short_text %}</p>
                  </header>
                  <div class="bd">
                    {% editable_long_text 'Description', priority: 9 %}
                    <p>
                    Only one customer data hub, automated correction and cleaning, multichannel and
                    <br/>
                    multi-source customer data hub<br/>
                    campaign management…
                    </p>
                    {% endeditable_long_text %}
                  </div>
                  <footer class="ft more">
                    <a class="btn btn01" href="#TODO"
                       title=""><span>Discover <strong>CRM360°</strong></span></a>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}