{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
<div id="banner">
  <div class="inner">
    <div class="center bannerInside">
      <div class="bannerExtend bannerLeft"></div>
      <div class="bannerExtend bannerRight"></div>

      {% block 'Slider' %}
      <div id="bannerCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div class="row-fluid bannerContent">

              <article class="span5 bannerText">
                <p class="intro">{% editable_short_text 'Volet 1 titre', priority: 11 %}Take control of your business{% endeditable_short_text %}</p>

                <h2 class="title"><img src="{{ 'images/banner/en/simple.png' | theme_image_url }}"
                                       alt="simple"/></h2>
                {% editable_long_text 'Volet n°1 texte', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 10 %}
                <p class="desc">Increase your scores<br/>
                  with user-friendly,<br/>
                  effective and high performance<br/>
                  marketing tools</p>
                  {% endeditable_long_text %}
              </article>
              <div class="span7">
                <img style="position: relative;left:-57px;top:-69px" src="{{ 'images/banner/increase-scores.png' | theme_image_url }}"
                     alt=""/>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row-fluid bannerContent">

              <article class="span5 bannerText">
                <p class="intro">{% editable_short_text 'Volet 2 titre', priority: 9 %}Take control of your business{% endeditable_short_text %}</p>

                <h2 class="title"><img src="{{ 'images/banner/en/24-7.png' | theme_image_url }}"
                                       alt="24/7"/></h2>
                {% editable_long_text 'Volet n°2', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 8 %}
                <p class="desc">Keep in touch<br/>
                  with your customers<br/>
                  24 hours a day, 7 days a week.<br/>
                  Business round the clock !</p>
                {% endeditable_long_text %}
              </article>
              <div class="span7">
                <img style="position: relative;left:-115px" src="{{ 'images/banner/keep-contact.png' | theme_image_url }}" alt=""/>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row-fluid bannerContent">

              <article class="span5 bannerText">
                <p class="intro">{% editable_short_text 'Volet 3 titre', priority: 7 %}Take control of your business{% endeditable_short_text %}</p>

                <h2 class="title"><img src="{{ 'images/banner/en/in-the-cloud.png' | theme_image_url }}" alt="In the Cloud"/></h2>
                {% editable_long_text 'Volet n°3', hint: 'Encadrer le texte par la balise <p class="desc">', priority: 6 %}
                <p class="desc">Log on from everywhere !<br/>
                  Online solutions<br/>
                  available anytime,<br/>
                  anywhere.</p>
                {% endeditable_long_text %}
              </article>
              <div class="span7">
                <img style="left: -76px;position: relative;" src="{{ 'images/banner/cloud.png' | theme_image_url }}"
                     alt="cloud"/>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <ul class="paginationBullet">
          <li><a data-to="1" href="#">1</a></li>
          <li><a data-to="2" href="#">2</a></li>
          <li><a data-to="3" href="#">3</a></li>
        </ul>
        <!--<a class="carousel-control left" href="#bannerCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#bannerCarousel" data-slide="next">&rsaquo;</a>-->
      </div>
      {% endblock %}
    </div>
  </div>
</div>
<div id="mainContent" class="center">
  <div class="row-fluid">
    {% block 'block_societe' %}
    <article class="span5 aboutFollowSun">
      <div class="box boxOutsetShadow">
        <div class="hd">
          <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}follow the sun{% endeditable_short_text %}</h2>
          <p class="subTitle01">{% editable_short_text 'Sous-titre', priority: 9 %}play live business{% endeditable_short_text %}</p>
        </div>
        <div class="bd">
          <figure>
            {% capture team_url %}{% editable_file 'Photo des bureaux', priority: 10 %}{% endeditable_file %}{% endcapture %}
            {% if team_url != "" %}{{ team_url | image_tag }}{% else %}{{ 'images/team-follow-the-sun.jpg' | theme_image_tag }}{% endif %}

            <figcaption>{% editable_short_text 'Texte sous la photo', hint: 'Texte sous la photo', priority: 8 %}Created in 2011, Follow The Sun is an online service provider which converts highly
              professional know-how into an online standard service offer, easily affordable.{% endeditable_short_text %}
            </figcaption>
          </figure>
        </div>
        <div class="ft">
          <div class="more">
            <a class="btn btn03" href="#" title=""><span>See the team</span></a>
          </div>
        </div>
      </div>
    </article>
    {% endblock %}
    <section class="ourCustomers span7">
      <div class="xtraPaddingL">
        <article>
          <header>
            <h2 class="title02">{% editable_short_text 'Titre du block liste logos' %}They got hooked{% endeditable_short_text %}</h2>
          </header>
          <ul class="customersList row-fluid">
            {% for customer in contents.customers limit:3 %}
            <li class="span4"><img src="{{customer.logo['url']}}" alt="{{customer.name}}" /></li>
            {% endfor %}
          </ul>
          <div class="more">
            <a class="btn btn02" href="#" title=""><span>See all of our customers</span></a>
          </div>
        </article>
        <article class="customerExperience">
          <header>
            <h3 class="title02">{% editable_short_text 'Titre du block témoignage client' %}... and they loved it!{% endeditable_short_text %}</h3>
          </header>
          {% for testimony in contents.testimonials limit:1 %}
          <div class="bd">
            <blockquote>
              « {{testimony.description}} »
            </blockquote>
            <p>
              <strong>{{ testimony.author }}</strong><br/>
              <span class="job">{{ testimony.company }}</span>
            </p>
          </div>
          {% endfor %}
        </article>
        <div class="more">
          <a class="btn btn02" href="#" title=""><span>Testimonies</span></a>
        </div>
      </div>
    </section>
  </div>
</div>
<div id="bottomContent">
  <div class="center">
    <div class="row-fluid">
      <div class="span7">
        {% block 'Bloc Réseau' %}

        <article>
          <header>
            <h3 class="title02">{% editable_short_text 'Titre', priority: 10 %}Network{% endeditable_short_text %}</h3>
            <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 9 %}Our talented partners{% endeditable_short_text %}</p>
          </header>
          <div class="bd txtC">
            {% editable_long_text 'Texte', hint: 'Respecter la syntaxe html', priority: 8 %}
                
            <div class="crm360">
              <a href="/en/partenaires" class="txtR item1 color01">Technical</a>
              <a href="/en/clients" class="txtC item2">Consumers</a>
              <a href="/en/partenaires" class="txtC item3 color01">Commercial</a>
              <a href="/en/clients" class="txtC item4">Consumers</a>
              <a href="/en/partenaires" class="txtL item5 color01">Integrator</a>
            </div>
            <p class="txtL">
              In order to enrich your experience and offer you an all-included and fitted CRM offer,
              Follow The Sun works with a diversified partners ecosystem.
            </p>
            {% endeditable_long_text %}
          </div>
          <div class="more">
            <a class="btn btn03" href="/en/contact?title=Become%20a%20partner" title=""><span>Become a partner</span></a>
          </div>
        </article>
        {% endblock %}
      </div>
      <article class="span5">
        {% block 'Block crm360' %}
        <div class="xtraPaddingL">
          <div class="box boxIntsetShadow boxPush">
            <header class="hd">
              <h3 class="title02"><img src="{{ 'images/crm360.png' | theme_image_url }}" alt="CRM360°"/></h3>

              <p class="subTitle02">{% editable_short_text 'Titre', priority: 10 %}A simple and effective CRM solution{% endeditable_short_text %}</p>
            </header>
            <div class="bd">
              <figure>
                <img src="{{ 'images/crm360Ipad.png' | theme_image_url }}" alt=""/>
                <figcaption>
                  {% editable_short_text 'Texte', priority: 8 %}
                  CRM360° is an exclusive Customer Relationship Management service offer operating in
                  mode SAAS (Software As A Service) and DAAS (Data As A Service).
                  CRM360° includes the following functionalities: Data flows Integration, Data Quality
                  Management, Campaign Management and Business Intelligence.
                  {% endeditable_short_text %}
                </figcaption>
              </figure>
            </div>
            <footer class="ft more">
              <a class="btn btn02" href="/en/crm360" title=""><span>Read more</span></a>
            </footer>
          </div>
        </div>
        {% endblock %}
      </article>
    </div>
  </div>
</div>
</div>
{% endblock %}