{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/en/crm360.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            <article class="text">
              <header class="hd">
                <h2 class="title02">Our partners are connected<br/>
                  in order to increase your experience</h2>

                <p class="subTitle02">A wide and varied ecosystem</p>
              </header>
              <div class="bd">
                <p>
                  Because your satisfaction is in the heart of Follow The Sun preoccupations and in
                  order to find the offer best suited to your needs, it has chosen to work with many
                  talented partners. Their interlinked knowledge combined with that of Follow The Sun
                  will offer you considerable amount of possibilities.
                  For example, Follow The Sun and ECM inter connexion enables e-mails shipment and a
                  customer behavior analyze.
                </p>
              </div>

            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      <section class="becomePartners span7">
        <div class="xtraPaddingL">
          <article>
            <header>
              <h2 class="title02">Our partners</h2>

              <p class="subTitle02">They’re in!</p>
            </header>
            <p>Follow The Sun works with an ecosystem of talented and varied partners</p>
            <ul class="customersList row-fluid">
              <li class="span3"><img src="{{ 'images/partners/hubToYou.png' | theme_image_url }}" alt="Hub to you"></li>
              <li class="span3"><img src="{{ 'images/partners/mix-data.png' | theme_image_url }}" alt="Mix Data"></li>
              <li class="span3"><img src="{{ 'images/partners/experian-cheetahmail.png' | theme_image_url }}" alt="Experian Cheetahmail"></li>
              <li class="span3"><img src="{{ 'images/partners/generix.png' | theme_image_url }}" alt="Generix"></li>
            </ul>
            <div class="more">&nbsp;</div>
          </article>
          <article class="otherPartners">
            <p class="subTitle02">But also...</p>

            <div class="bd">
              <ul class="row-fluid titleColList">
                <li class="span4">
                  <h4 class="title">Agency</h4>
                  <ul>
                    <li>Rouge Interactif</li>
                    <li>TDA</li>
                    <li>Lemonthink</li>
                    <li>MxData</li>
                  </ul>
                </li>
                <li class="span4">
                  <h4 class="title">Integrator</h4>
                  <ul>
                    <li>Touche Etoile</li>
                    <li>Mediaperformances</li>
                    <li>Experian Cheetahmail</li>
                    <li>Numsight</li>
                    <li>Devatics</li>
                    <li>Hub To You</li>
                  </ul>
                </li>
                <li class="span4">
                  <h4 class="title">Technological</h4>
                  <ul>
                    <li>Windcor Nixdorf</li>
                    <li>Adictiz</li>
                    <li>Generix</li>
                    <li>mproveeze</li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </section>
      <div class="span5">
        <div class="xtraPaddingL">
          <article class="box boxIntsetShadow boxArrow">
            <header>
              <h3 class="title02">They talk about us</h3>
            </header>
            <div class="bd">
              <article class="blockArticle">
                <blockquote>«
                  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis
                  egere conatibus, Luscus quidam curator urbis subito visus ».
                </blockquote>
                <p>
                  <strong>Isabelle Dupont</strong><br/>
                  <span class="job">Directrice Marketing Okaïdi</span>
                </p>
              </article>
              <article class="blockArticle">
                <blockquote>«
                  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis
                  egere conatibus, Luscus quidam curator urbis subito visus ».
                </blockquote>
                <p>
                  <strong>Isabelle Dupont</strong><br/>
                  <span class="job">Directrice Marketing Okaïdi</span>
                </p>
              </article>
              <article class="blockArticle last">
                <blockquote>«
                  Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis
                  egere conatibus, Luscus quidam curator urbis subito visus ».
                </blockquote>
                <p>
                  <strong>Isabelle Dupont</strong><br/>
                  <span class="job">Directrice Marketing Okaïdi</span>
                </p>
              </article>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
  <div id="bottomContent">
    <div class="center">
      <section class="becomePartner">
        <header class="hd">
          <h3 class="title02">Become a partner !</h3>

          <p class="subTitle02">Seize the opportunity! Give it a try!</p>
        </header>
        <div class="bd">
          <p>If you are passionate about marketing or more particularly about customer relationship, if you
            want to speed up your business, if you need our help or if we simply share the same values:
            please contact us!</p>
        </div>
        <div class="ft more">
          <a href="/contact?title=Become a partner" class="btn btn01"><span>Become a partner</span></a>
        </div>
      </section>
    </div>
  </div>
</div>

{% endblock %}