{% extends 'layout' %}
{% block 'main' %}
<div id="content" role="main">
  <div id="banner">
    <div class="inner">
      <div class="center bannerInside">
        <div class="bannerExtend bannerLeft"></div>
        <div class="bannerExtend bannerRight"></div>
        <div class="row-fluid bannerContent">
          <div class="span5 imageContent">
            <img src="{{ 'images/banner/team.png' | theme_image_url }}" alt=""/>
          </div>
          <div class="span7 textContent">
            {% block 'Bandeau' %}
            <article class="text">
              <header class="hd">
                <h2 class="title02">{% editable_short_text 'Titre', priority: 100 %}Join the work team!{% endeditable_short_text %}</h2>

                <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 90 %}Make game{% endeditable_short_text %}</p>
              </header>
              <div class="bd">
                {% editable_long_text 'Texte bandeau', hint: 'Utiliser les balises p, ul/li, strong, a sans classe.', priority: 80 %}
                <p>
                  Follow The Sun is an adventure to share!<br/>
                  You have talent, an urge or a professional
                  experience to share? Contact us and send us your resume and your covering letter.
                </p>
                {% endeditable_long_text %}
              </div>

            </article>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mainContent" class="center">
    <div class="row-fluid">
      <section class="ourProposition span7">
        <div class="xtraPaddingL">
          <article>
            <header>
              <h2 class="title02">{% editable_short_text 'Titre', priority: 10 %}What we offer presently{% endeditable_short_text %}</h2>

              <p class="subTitle02">{% editable_short_text 'Sous-Titre', priority: 9 %}In search of new talents{% endeditable_short_text %}</p>
            </header>
            <div class="bd">
              {% for job in contents.jobs %}
              <section class="toggle">
                <div class="toggleHead">
                  <div class="inner">{{job.name}}</div>
                </div>
                <div class="toggleBody">
                  {{job.description}}
                </div>
              </section>
              {% endfor %}
            </div>
          </article>
        </div>
      </section>
      <div class="span5">
        <div class="xtraPaddingL">
          <article class="box boxIntsetShadow boxArrow boxForm">
            <header>
              <h3 class="title02">Apply</h3>

              <p class="subTitle02">We thank you to complete the following form:</p>
            </header>
            {% block 'Success message' %}
            {% endblock %}
            {% if job_application.errors %}
            {{job_application.errors}}
                <div class="alert alert-error">Please correct the red fields.</div>
            {% endif %}
            <form class="form errorForm" action="{{contents.job_applications.api.create}}.html" method="post" enctype="multipart/form-data">
              <input type="hidden" name="success_callback" value="/en/recrutement_success" />
              <input type="hidden" name="error_callback" value="/en/recrutement?action=failure" />
              <div class="bd">
                <p {% if job_application.errors["firstname"] %}class="errorField"{% endif %}>
                  <label for="firstName">Firstname*</label>
                  <span class="field fieldInputText"><input id="firstName" name="content[firstname]" class="inputText" type="text" value=""/></span>
                </p>
                <p {% if job_application.errors["lastname"] %}class="errorField"{% endif %}>
                  <label for="lastName">Lastname*</label>
                  <span class="field fieldInputText"><input id="lastName" name="content[lastname]" class="inputText" type="text" value=""/></span>
                </p>
                <p {% if job_application.errors["email"] %}class="errorField"{% endif %}>
                  <label for="email">Email*</label>
                  <span class="field fieldInputText"><input id="email" name="content[email]" class="inputText" type="email" value=""/></span>
                </p>
                <p {% if job_application.errors["phone"] %}class="errorField"{% endif %}>
                  <label for="phoneNumber">Phone</label>
                  <span class="field fieldInputText"><input id="phoneNumber" name="content[phone]" class="inputText" type="tel" value=""/></span> 
                </p>
                <p>
                  <label>CV</label>
                  <span class="field"><input type="file" name="content[cv]" size="15"  /></span>
                </p>
                <p>
                  <label>Covering letter</label>
                  <span class="field"><input type="file" name="content[cover_letter]" size="15" /></span>
                </p>
                <p>
                  <label>Job</label>
                  <span class="field fieldInputSelect">
                    <select class="inputSelect" name="content[position]">
                      {% for job in contents.jobs %}
                      <option>{{job.name}}</option>
                      {% endfor %}
                      <option>Unsolicited application</option>
                    </select>
                  </span>
                </p>
                <p {% if job_application.errors["description"] %}class="errorField"{% endif %}>
                  <label for="description">Message</label>
                  <span class="largeInput fieldInputText">
                    <textarea id="description" name="content[description]" />{{job_application.description}}</textarea>
                  </span>
                </p>
              </div>
              
              <div class="ft more">
                <span href="#" class="btn btn01"><input type="submit" value="Send"/></span>
              </div>
            </form>


          </article>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}